.blackground {
    background: #0000006e;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.blackground.active{opacity: 1; visibility: visible;}
.sign-in {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 9950;
}
.sign-in.active{opacity: 1; visibility: visible;}
.form {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 36%;
    background: #fff;
    padding: 14px;
    position: relative;
    top: 70px;
    border-radius: 1.4%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.33);
    background-clip: padding-box;
}
.form.show2{
    animation: up .4s cubic-bezier(.3,.01,.17,.65) forwards;
}
.content{position: relative;} 
.close {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 20px;
    cursor: pointer;
}
.form_rgt {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 70%;
    background: #fff;
    padding: 14px;
    position: relative;
    top: 70px;
    border-radius: 1.4%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.33);
    background-clip: padding-box;
}
.form_rgt.show2{
    animation: up .4s cubic-bezier(.3,.01,.17,.65) forwards;
}
@-webkit-keyframes up {
    from {
        transform: translateY(-67px);
        opacity: 0;
    }to{transform: translateY(0); opacity: 1;}
}
.rmb{
    margin-right: 5px;
    position: relative;
    top: 2px;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
p.tp {
    color: #585858;
    font-weight: 700;
    text-align: center;
}
